.card-container {
  display: flex;
  margin-block: 50px;
  flex-direction: column;
  align-items: center;
}
.card {
  width: 75%;
}
.cardBtn {
  display: flex;
  justify-content: space-between;
}
.form-outline {
  margin-block: 10px;
}
@media only screen and (min-width: 768px) {
  .note-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
