.card-container {
  display: flex;
  justify-content: center;
  margin-block: 50px;
}
.card {
  width: 75%;
}
.cardBtn {
  display: flex;
  justify-content: space-between;
}
.form-outline {
  margin-block: 10px;
}
